h1 {
  font-family: "Montserat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
}

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}
